.main-container {
  background-color: #f1f1f1;
  display: block;
  height: 100%;
}

.voted {
  color: #2678e7;
}

.upvote,
.devote {
  padding: 7px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  width: 110px;
  font-size: 12px;
  font-weight: bold;
  border: none;
}

.upvote {
  background-color: #3dad4f;
}

.devote {
  background-color: #f15353;
}

small {
  font-size: 12px;
}

#comment_section {
  margin-left: 5%;
}
.comment-container {
  padding: 20px;
  border: 1px solid white;
  background-color: white;
}

main {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 16px - 56px);
}

.post-container {
  padding: 20px;
  border: 1px solid white;
  background-color: white;
}

.footer-header {
  font-size: 16px;
  color: white;
}

.post-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;

}
