{% extends 'base.html' %} 

{% block head %}
<title>ReShare - About</title>
{% endblock %} 
{% block body %}
  <h1>About</h1>
  <hr />
  <p>
    ReShare is a simple web application that is designed as a trading/sharing 
    platform between users. It uses Python Flask as its infrastructure to allow 
    users to create an account, sell or buy items. 
  </p>
  <p>
    As seen with the recent COVID-19 pandemic, common household items such as 
    toilet paper can be made scarce. Therefore, the purpose of ReShare is to act
    as a simple trading platform, where users who are feeling generous can post 
    up items as donations to other users seeking these items immediately. With 
    the scarcity of some products, all users are only able to purchase one item 
    to prevent scalping of such items.
  </p>
  <p>
    This web application is meant to be a simplified version of other selling 
    platforms (i.e. eBay) and is intended for myself to experiment using APIs 
    and databases for the first time.
  </p>
{% endblock %}
