{% extends 'base.html' %} 

{% block head %}
  <title>ReShare - Buy Item</title>
{% endblock %} 

{% block body %}
  <h1>Purchase Item</h1>
  <hr />
  <h3>Details</h3>
  <div id="{{post.id}}" class="post-container">
    <h5>Item Selling: {{post.item}}</h5>
    <h5>Stock: {{post.stock}}</h5>
    <h5>Seller: {{post.author}}</h5>
    <hr />
    <p style="white-space: pre-wrap">{{post.content}}</p>    
  </div>
  <br>
  <form method="POST" action="{{url_for('buy', id=post.id)}}">
    <input type="submit" value="Buy Item" class="btn btn-success float-right">
  </form>
  
{% endblock %}
