{% extends 'base.html' %}

{% block head %}
<title>ReShare - {{post.item}}</title>
{% endblock %} 

{% block body %} 

  {% if current_user.is_authenticated %}
    <a class="btn btn-primary btn-sm" href="{{url_for('home')}}">Go to Feed</a>
  {%endif%}
  <a class="btn btn-success btn-sm" href="#" onclick="history.go(-1)">Back</a>
  
  <br />
  <br />


  <div id="{{post.id}}" class="post-container">

    {% if current_user.is_authenticated %}
    <div class="like-bar">
    {% else %}
    <div class="like-bar-view">
    {% endif %}
      <button class="upvote">Likes: {{post.likes}}</button>
      <button class="devote">Dislikes: {{post.dislikes}}</button>
    </div>
    <div>
      <img class="post-img float-right" src="{{url_for('static', filename='images/' + post.img)}}" />
    </div>

    <div id="{{post.id}}">
      <small>Posted by {{post.author}} on </small>
      <small class="publish-date">{{post.date}}</small>
      <h3>Item Selling: {{post.item}}</h3>
      <h3>Stock: {{post.stock}}</h3>
      {% if post.stock == 0 %}
        <i>Sold out!</i>
      {% else %}
        {% if current_user.is_authenticated and post.author != current_user.username %}
          <a class="btn btn-primary" href="{{url_for('buy', id=post.id)}}">
            Buy Item
          </a>
        {% elif not current_user.is_authenticated%}
          <i>
            <a href="{{url_for('register')}}">
              Sign up
            </a>
            or
            <a href="{{url_for('buy', id=post.id)}}">
              log in
            </a>
            to purchase item
          </i>
        {% else %}
          <br>
        {% endif %}
      {% endif %}

      <hr />
      <p style="white-space: pre-wrap">{{post.content}}</p>
      
    </div>
  </div>
  <br/>
  <h3>Comments</h3>
  <hr>
  <div id="comment_section">
    {% for comment in comments %}
    <div class="comment-container">
      <small>Posted by {{comment.author}} on </small>
      <small class="publish-date">{{comment.date}}</small>
      <p style="white-space: pre-wrap">{{comment.content}}</p>
      {% if current_user.username == comment.author or current_user.username == "admin" %}
        <div class="float-right">
          <a
            href="{{url_for('delete_comment', id=comment.id)}}"
            class="btn btn-danger btn-sm">
            Delete
          </a>
          <br />
        </div>
        <br />
      {%endif%}
    </div>
    <br />
    {%endfor%} 
    
    {%if current_user.is_authenticated%}
      <form method="POST" action="{{url_for('display_post', id=post.id)}}">
        {{form.hidden_tag()}}
        <div class="form-group">
          {{form.content(class="form-control", rows="4")}}
        </div>
        <div class="form-group">
          {{form.submit(class="btn btn-success btn-sm float-right")}}
        </div>
        <br />
      </form>
    {%else%}
      <i>
        <a href="{{url_for('register')}}">
          Sign up
        </a>
        or
        <a href="{{url_for('login')}}">
          log in
        </a>
        to comment
      </i>
    {%endif%}
  </div>

{% endblock %}
