{% extends 'base.html' %} {% block head %}
<title>Post {{post.id}}</title>
{% endblock %} {% block body %}
<a class="btn btn-dark" href="#" onclick="history.go(-1)">Back</a>
<br />
<p>
  Posted by {% if post.author %} {{post.author}} {% else %} [Unknown] {%endif%}
  on {{post.date}}
</p>
<hr />
<h1>{{post.title}}</h1>
<hr />
<p>{{post.content}}</p>
<hr />
<div class="like-bar">
  <button>Likes: {{post.likes}}</button>
  <button>Dislikes: {{post.dislikes}}</button>
</div>
<div id="comment_section">
  <button id="add-comment" class="btn btn-dark">Add Comment</button>
  <hr />
  {%for comment in comments%}
  <p>User: {{comment.author}}</p>
  <p class="publish-date">{{comment.date}}</p>
  <h3>{{comment.content}}</h3>
  {% if current_user.username == comment.author or current_user.username ==
  "admin"%}
  <div class="options" id="{{comment.author}}">
    <a href="{{url_for('delete_comment', id=comment.id)}}">Delete</a>
    <a href="">
      <button>Edit</button>
    </a>
  </div>
  {%endif%}
  <hr />
  {%endfor%}
  <hr />
</div>

{% endblock %}
