{% extends 'base.html' %} {% block head %}
<title>Repost</title>
{% endblock %} {% block body %}
<h1>Announcements</h1>
<hr />

{%if feed%} {% for post in feed%}
<div id="{{post.id}}" class="post-container">
  <div class="like-bar">
    <button class="upvote">Like: {{post.likes}}</button>
    <button class="devote">Dislike: {{post.dislikes}}</button>
  </div>
  <div
    id="{{post.id}}"
    style="cursor: pointer"
    onclick="window.location='{{url_for('display_post', id=post.id)}}';"
  >
    <small>Posted by {{post.author}} on </small>
    <small class="publish-date">{{post.date}}</small>
    <h2>{{post.title}}</h2>
    <hr />
    <p style="white-space: pre-wrap">{{post.content}}</p>
    {% if current_user.username == post.author or current_user.username ==
    "admin"%}
    <a
      href="{{url_for('edit_post', id=post.id)}}"
      class="btn btn-primary btn-sm"
      >Edit</a
    >
    &nbsp
    <a
      href="{{url_for('delete_post', id=post.id)}}"
      class="btn btn-danger btn-sm"
      >Delete</a
    >
    {%endif%}
  </div>
</div>
<br />
{%endfor%} {%else%}
<i> No posts in feed</i>
<br />
<br />
{%endif%} {% endblock %}
